.cardId{
    width: 400px;
    background-color: #dfeef3;
    box-shadow: 10px 5px 5px grey;
}

.cardBottom{
    background-color: #fffff4 ;
}

.cardUpper{
    background-color: #16468c;
    color: white;
}